/* stylelint-disable linebreaks */
.main {
  align-items: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: var(--text-font);
  font-size: 12pt;
  justify-content: center;
  width: 100%;
}

.main > img {
  height: 70px;
  margin: 20px 0;
}

.mainContent, .mainContent > div {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.mainContent > div {
  gap: 20px;
  width: 15%;
}

.Input {
  background-color: var(--background-color);
  border: 1px solid var(--text-color-secondary);
  border-radius: 5px;
  box-shadow: 0 0 5px 0.5px var(--text-color-secondary);
  color: var(--text-color);
  font-size: 16pt;
  outline: none;
  padding: 7px;
  width: 100%;
}

.Input::placeholder {
  color: var(--text-color-secondary);
}

.form {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  width: 100%;
}

.form > button, .mainContent > button {
  background-color: var(--background-color);
  border: 1px solid var(--button-color);
  border-radius: 5px;
  box-shadow: 0 0 5px 0.5px var(--button-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 16pt;
  outline: none;
  padding: 5px;
  text-align: center;
  width: 10%;
}

.Input:focus {
  border: 1px solid var(--button-color);
  box-shadow: 0 0 5px 0.5px var(--button-color);
}

.form > select, .mainContent > div > select {
  background-color: var(--background-color);
  border: 1px solid var(--text-color-secondary);
  border-radius: 5px;
  box-shadow: 0 0 5px 0.5px var(--text-color-secondary);
  color: var(--text-color);
  font-size: 16pt;
  outline: none;
  padding: 5px;
  text-align: center;
  width: 10%;
}

.mainContent > div > select {
  width: 100%;
}

.Select:focus {
  border: 1px solid var(--button-color);
  box-shadow: 0 0 5px 0.5px var(--button-color);
}

.inputRadio {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  margin: 20px 0;
}

.inputRadio > input {
  visibility: hidden;
}

.inputRadio > input + svg {
  cursor: pointer;
  font-size: 20px;
}

.inputRadio > input:checked + svg {
  color: var(--button-color);
}

.filterContent {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  width: 100%;
}

.filterContent > div {
  align-items: center;
  display: flex;
  font-size: 18px;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.filterContent > div > button {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  outline: none;
  text-align: center;
}

.form > button:hover, .mainContent > button:hover {
  background-color: var(--button-color);
  box-shadow: 0 0 5px 0.5px var(--button-color);
  color: var(--background-color);
}

.btnIcon:hover {
  color: var(--button-delete-color);
}

.table {
  font-size: 18px;
}

.tableHead {
  background-color: var(--button-color);
  color: var(--background-color);
  font-weight: 600;
  text-align: center;
}

.tableHead > tr > th {
  padding: 10px;
}

.tableBody {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.tableBody > tr > td {
  border: 1px solid var(--button-color);
  padding: 20px;
}
